/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: darkgrey;
}
i {
    font-size: xx-small;
}

.listPaper {
    background-color: white;
    width: 30%;
    min-height: 100px;
    border-radius: 2px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.329);
    position: relative;
}
.input {
    width: 100%;
    border: none;
    font-size: large;
    border-bottom: 1px solid rgba(163, 163, 163, 0.712);
}
.items {
    border-bottom: 1px solid rgba(163, 163, 163, 0.712);
    font-size: large;
    color: rgb(44, 44, 44);
}
.delete {
    border: none;
    background-color: white;
    opacity: 0;
    font-size: large;
}
.items:hover .delete {
    opacity: 1;
}
.counterItems {
    position: absolute;
    bottom: 10px;
}